.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

}

/* header nav */
.headerNav {
    color: white;
    width: 100%;
    padding: 10px 30px;
}

.logo {
    height: 40px;
    width: 40px;
}

.headerH3 h1 {
    text-transform: uppercase;
    list-style: none;
    margin: 5px;
    padding: 0px;
    font-size: 15px;
}

.menuDiv li {
    list-style: none;
    font-size: 10px;
    margin: 0px;
}

.menuDiv svg {
    font-size: 30px;
    margin: 0px;
}



/* dropmenu nav */
.dropmenuNav {
    display: none;
}