/* common css */
.introContent {
    /* border: 2px solid black; */
    margin: 50px auto;
    width: 85%;

}

.introContent h3 {
    font-weight: bolder;
    font-size: 24px;
    margin: 0px;
    text-transform: uppercase;
}

.introContent p {
    text-align: justify;
    margin: 0px;
    width: 700px;
    font-size: 15px;
}

.outerSection {
    padding-bottom: 50px;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid black;

}

/* hero section */
.coverImg {
    overflow: hidden;
    position: relative;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.603);
}

.coverImg::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coverContent {
    color: white;
    z-index: 1;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
}


.coverContent1Content {
    width: 85%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.473);
}

.coverContent1Content h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 5px;
    width: 450px;
    ;
}

.coverContent1Content h4 {
    text-transform: uppercase;
    font-size: 15px;
    margin: 5px
}

.coverContent1Icon {
    font-size: 70px;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: rgba(255, 170, 0, 0.473);
}

.buttonDiv {
    margin-top: 200px;
}


/* feature section */


.featureSection {
    margin: auto;
    width: 90%;
}

/* faq */

.faqContainer {
    position: relative;
    width: 850px;
    border: 2px solid black;
    margin: auto;
    box-shadow: 10px 10px black;
}

/* contact us */



.ContactUsFormContainer {
    width: 800px;
    height: fit-content;
    margin: auto;
    /* border: 2px solid black; */
}

.contactUsImgBorder::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 400px;
    width: 280px;
    border: 2px solid black;
    box-sizing: border-box;
    z-index: -1;
}

.contactUsImgBorder {
    position: relative;
}

.contactUsImg {
    height: 400px;
    width: 280px;
    margin-bottom: 50px;
}

.contactUsForm {
    height: 400px;
    width: 350px;
    border: 2px solid black;
    margin-top: 150px;
    box-shadow: 10px 10px black;
}

.contactUsFormDiv {
    width: 85%;
    margin: 20px 0px;
}

.contactUsFormDiv h1 {
    margin: 2px 0px;
    font-size: 28px;
    text-transform: uppercase;
}


.contactUsFormDiv h5 {
    margin: 0px;
    /* font-size: 28px; */
    text-transform: uppercase;
}

.contactUsFormDiv p {
    margin: 0px;
    font-size: 12px;
    /* width: 50%; */
    /* text-transform: uppercase; */
}

.formBtn {
    font-family: 'Reddit Sans Condensed', sans-serif;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-transform: uppercase;
    background-color: transparent;
}

/* footer styling */


.footer {
    width: 80%;
    margin: 10px auto;
}

.footerDiv {
    /* border: 2px solid black; */
    min-height: 150px;
}


.footerDiv h1 {
    text-transform: uppercase;
    font-size: 22px;
    margin: 15px 0px;

}

.footerDiv li {
    text-transform: uppercase;
    list-style: none;
    margin: 0px;
    cursor: pointer;
    font-size: 14px;
}

.footerIcon {
    height: 50px;
    width: 50px;
}

.socialMediaIcon {
    border: 2px solid black;
    font-size: 22px;
    margin: 10px;
    padding: 5px;
    border-radius: 100%;
}



.sendInput {
    padding: 8px;
    border: 2px solid black;
}

.sendInput::placeholder {
    font-family: 'Reddit Sans Condensed', sans-serif;
}

.sendBtn {
    padding: 5px;
    font-size: 25px;
    color: white;
    background-color: black;
}