@import url(https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed&display=swap);

@import url('./util.css');

body {
  margin: 0;
  font-family: 'Reddit Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}