/* display properties */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-justify {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-left {
    display: flex;
    align-items: left;
    justify-content: left;
}

.flex-center-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.flex-even {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.flex-column {
    flex-direction: column;
}

/* scrollbar  */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}